nav {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 20px;
  border-bottom: 1px solid rgb(199, 199, 199);
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav div a {
  margin-right: 20px;
}

.logout-btn{
  padding: 7px 21px;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.logout-btn:hover{
  transform: scale(1.2);
}