
body {
  background-color: rgb(53, 53, 53);
  color: rgb(15, 15, 15);
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  color: #becbff;
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 1px 1px  black;
}

h1 {
  color: white;
  text-shadow: 3px 3px black;
}

a {
  color: white;
}

a:hover {
  color: rgb(192, 192, 189);
  text-decoration: none;
}

table {
  margin-bottom: 2rem;
  width: 100%;
}

table, th, td {
  border: 0.1rem solid rgb(180, 179, 177);
  border-collapse: collapse;
  color: white
}

th, td {
  padding: 0.7rem;
}

.empty-cell {
  background-color: #878888;
}

.hero {
  width: 100%;
}

.highlight-cell {
  background-color: black;
  color: #fff;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.results-div {
  margin: auto;
  max-width: 80%;
  text-align: center;
}

.section-divider {
  margin: 2rem auto;
  opacity: 0.75;
  text-align: center;
}

.section-divider img {
  height: auto;
  width: 90%;
}

.section-heading {
  font-size: 3.3em;
  margin-bottom: 1rem;
  margin-top: 3rem;
  text-align: center;
}

.section-subheading {
  color: white;
  font-size: 2em;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
  text-shadow: 4px 1px  rgb(85, 83, 83);
}

.textfield {
  margin: auto;
  width: 90%;
}

/* proudly stolen from Bootstrap*/
.button {
  display: flex;
  align-self: center;
  justify-content: center;
}

.btn{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(33, 37, 41);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out 0s
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(13, 110, 253);
    border-color: rgb(13, 110, 253);
}

.btn-danger {
    color: rgb(255, 255, 255);
    background-color: rgb(184, 0, 0);
    border-color: rgb(161, 24, 0);
}



@media only screen and (max-width: 640px) {

  .section-heading {
    font-size: 2rem;
  }

  .section-subheading {
    font-size: 1.6rem;
  }

}

@media only screen and (min-width: 840px) {

  .results-div {
    max-width: 70%;
  }
}

@media only screen and (min-width: 1400px) {

  .results-div {
    max-width: 60%;
  }

}
